<!-- templates/index.html -->

<!DOCTYPE html>
<html lang="en" data-theme="dark">
<html lang="en" data-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TheCoolVision - Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pico.colors.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pico.min.css') }}" />
</head>

<body>
    <div class="container-fluid">

        <div class="grid">
            <div class="container video-container" onclick="takePhoto()">
                <video class="video-feed" id="webcamVideo" autoplay></video>
                <div class="countdown-overlay"></div>
                <button id="take-photo-button" class="overlay photo-button-overlay">Take a photo 📸</button>
            </div>

            <div class="button-column mhd-buttons">

                <div class="container">
                    <button class="change-mhd decrease-mhd" id="decrease-days-button" onclick="decrease('days-button')">-</button>
                    <button class="btn-mhd" id="days-button" onclick="selectButton(this.id)">3 Tage</button>
                    <button class="change-mhd increase-mhd" id="increase-days-button" onclick="increase('days-button')">+</button>
                </div>
                <div class="container">
                    <button class="change-mhd decrease-mhd" id="decrease-days-button" onclick="decrease('weeks-button')">-</button>
                    <button class="btn-mhd" id="weeks-button" onclick="selectButton(this.id)">1 Woche</button>
                    <button class="change-mhd increase-mhd" id="increase-days-button" onclick="increase('weeks-button')">+</button>
                </div>
                <div class="container">
                    <button class="change-mhd decrease-mhd" id="decrease-days-button" onclick="decrease('months-button')">-</button>
                    <button class="btn-mhd" id="months-button" onclick="selectButton(this.id)">1 Monat</button>
                    <button class="change-mhd increase-mhd" id="increase-days-button" onclick="increase('months-button')">+</button>
                </div>
            </div>
            
        </div>

        <div class="button-grid names-grid">
            {% for user in users %}
                <button class="btn-pers" id="{{ user.id }}" onclick="selectButton(this.id)">{{ user.display_name }}</button>
            {% endfor %}
        </div>

        <div class="button-row general-controls">
            <button class="pico-background-red-350 big-button-action" onclick="abbrechen()">Abbrechen</button>
            <button class="pico-background-green-350 big-button-action" onclick="hinzufuegen()">Hinzufügen</button>
            <button class="pico-background-amber-250 big-button-action" onclick="if (document.querySelector('.btn-pers.selected')) { window.location.href='/list_products/' + document.querySelector('.btn-pers.selected').id }">Rausnehmen</button>
        </div>
    </div>

    <footer>
        <nav class="navbar-bottom">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>

            </ul>

            <div class="right">
                <fieldset>
                
                    <label>
                        ☼&nbsp;&nbsp;
                        <input name="opt-in" id="theme-toggle" type="checkbox" role="switch" checked/>
                        🌙
                    </label>
                
                </fieldset>
            </div>

        </nav>
    </footer>

        <script>
            
        </script>
        
        <script src="{{ url_for('static', filename='js/send_video.js') }}"></script>
        <script src="{{ url_for('static', filename='js/button_functions.js') }}"></script>
        <script src="{{ url_for('static', filename='js/switch_theme.js') }}"></script>
    </body>

</html>