<!-- templates/index.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TheCoolVision - Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pico.colors.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pico.min.css') }}" />
</head>

<body>
    <div class="container">
        <div class="video-container">
            <video id="webcamVideo" width="640" height="450" autoplay></video>
            <button id="take-photo-button" class="overlay">Take a photo 📸</button>
        </div>

        <div class="button-column mhd-button">
            <button>3 Tage</button>
            <button>1 Woche</button>
            <button>1 Monat</button>
        </div>
    </div>

    <div class="button-grid">
        <button>Name 1</button>
        <button>Name 2</button>
        <button>Name 3</button>
        <button>Name 4</button>
        <button>Name 5</button>
        <button>Name 6</button>
    </div>

    <div class="button-row">
        <button class="pico-background-orange-350 big-button-action">Abbrechen</button>
        <button class="pico-background-green-300 big-button-action">Hinzufügen</button>
        <button class="pico-background-orange-100 big-button-action">Rausnehmen</button>
    </div>

    <!-- <script src="{{ url_for('static', filename='js/send_video.js') }}"></script> -->
    <script src="{{ url_for('static', filename='js/take_photo.js') }}"></script>
</body>

</html>