<!-- templates/index.html -->

<!DOCTYPE html>
<html lang="en" data-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TheCoolVision - Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pico.colors.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pico.min.css') }}" />
    <script src="{{ url_for('static', filename='js/feather.min.js') }}"></script>
</head>

<body>

    <!-- Status message -->
    <div class="status-overlay">
        <article id="status-message" class="message non-selectable" hidden></article>
    </div>
    <!-- ./ Status message -->

    <div class="container-fluid">

        <div class="grid">

            <!-- Video container -->
            <div class="container video-container" onclick="startPhotoProcess()">
                <video class="video-feed" id="webcamVideo" autoplay></video>
                <div class="countdown-overlay"></div>
                <button id="take-photo-button" class="overlay photo-button-overlay">Take a photo 📸</button>
            </div>
            <!-- ./ Video container -->

            <!-- Mhd buttons -->
            <div class="button-column mhd-buttons">

                <div class="container">
                    <button class="change-mhd decrease-mhd" id="decrease-days-button"
                        onclick="decrease('days-button')">-</button>
                    <button class="btn-mhd" id="days-button" onclick="selectButton(this.id)">3 Tage</button>
                    <button class="change-mhd increase-mhd" id="increase-days-button"
                        onclick="increase('days-button')">+</button>
                </div>
                <div class="container">
                    <button class="change-mhd decrease-mhd" id="decrease-days-button"
                        onclick="decrease('weeks-button')">-</button>
                    <button class="btn-mhd" id="weeks-button" onclick="selectButton(this.id)">1 Woche</button>
                    <button class="change-mhd increase-mhd" id="increase-days-button"
                        onclick="increase('weeks-button')">+</button>
                </div>
                <div class="container">
                    <button class="change-mhd decrease-mhd" id="decrease-days-button"
                        onclick="decrease('months-button')">-</button>
                    <button class="btn-mhd" id="months-button" onclick="selectButton(this.id)">1 Monat</button>
                    <button class="change-mhd increase-mhd" id="increase-days-button"
                        onclick="increase('months-button')">+</button>
                </div>
            </div>
            <!-- ./ Mhd buttons -->

        </div>

        <!-- Names Grid -->
        <div class="button-grid names-grid">
            {% for user in users %}
            <button class="btn-pers" id="{{ user.id }}" onclick="selectButton(this.id)">{{ user.display_name }}</button>
            {% endfor %}
        </div>
        <!-- ./ Names Grid -->

        <!-- General control buttons -->
        <div class="button-row general-controls">
            <button class="pico-background-red-350 big-button-action" onclick="abbrechen()">Abbrechen <i
                    data-feather="x-square"></i></button>
            <button class="pico-background-green-350 big-button-action" onclick="hinzufuegen()">Hinzufügen <i
                    data-feather="file-plus"></i></button>
            <button class="pico-background-amber-250 big-button-action" data-target="modal-remove-item"
                onclick="entfernen(event)">Entfernen <i data-feather="trash-2"></i></button>
        </div>
        <!-- ./ General control buttons -->
    </div>

    <footer>

        <nav class="navbar-bottom container">

            <!-- Dark mode switch -->
            <div class="left">
                <fieldset>
                    <label class="non-selectable">
                        ☼&nbsp;&nbsp;
                        <input name="opt-in" id="theme-toggle" type="checkbox" role="switch"/>
                        🌙
                    </label>
                </fieldset>
            </div>
            <!-- ./ Dark mode switch -->

            <div class="right">
                <a class="secondary non-selectable" href="" data-target="modal-about" onclick="toggleModal(event)">
                    About
                </a>
            </div>

        </nav>

    </footer>

    <!-- Modal about -->
    <dialog id="modal-about">
        <article>
            <header>
                <a href="#close" aria-label="Close" rel="prev" data-target="modal-about"
                    onclick="toggleModal(event)"></a>
                <h3>TheCoolVision</h3>
            </header>
            <p>
                This project is part of a university course at the Karlsruher Institute of
                Technology (KIT). The goal is to create a vision system that can be used to track
                the inventory of a fridge.
                Our goal for the project was to make it as user friendly as possible to interact
                with.
            </p>
            <p>
                Contributors
            </p>
            <ul>
                <li>Aaron Kreis</li>
                <li>Felix Marschall</li>
                <li>Moritz Spohn</li>
            </ul>

            <footer>
                <a href="#cancel" role="button" class="secondary" data-target="modal-about"
                    onclick="toggleModal(event)">
                    Cancel
                </a>
            </footer>

        </article>
    </dialog>
    <!-- ./ Modal about -->

    <!-- Modal remove item -->
    <dialog id="modal-remove-item">
        <article>
            <header>
                <a href="#close" aria-label="Close" rel="prev" data-target="modal-remove-item"
                    onclick="toggleModal(event)"></a>
                <h3>Was soll entfernt werden?</h3>
            </header>
            <p>
                <!-- Dynamic product list insertion point -->
                <div id="productList">
                    <!-- Product buttons will be dynamically inserted here -->
                </div>
            </p>
            <footer>
                <a href="#cancel" role="button" class="secondary" data-target="modal-remove-item"
                    onclick="toggleModal(event)">
                    Cancel
                </a>
            </footer>
        </article>
    </dialog>
    <!-- ./ Modal remove item -->
      
    <script>

    </script>


    <script src="{{ url_for('static', filename='js/modal.js') }}"></script>
    <script src="{{ url_for('static', filename='js/button_functions.js') }}"></script>
    <script src="{{ url_for('static', filename='js/switch_theme.js') }}"></script>
    <script src="{{ url_for('static', filename='js/send_video.js') }}"></script>
    <script>
        feather.replace();
    </script>
</body>

</html>