<!-- templates/index.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TheCoolVision - Remove Items</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pico.colors.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pico.min.css') }}" />
</head>

<body>
    <div class="container-fluid">

        <div>
            <div class="text-center">
                <h1 class="remove-title">Remove Items - {{ name }}</h1>
            </div>

        <div class="rows">
            {% for item in products %}
                <div class="row content-row">
                    <img src="" alt="Profile Picture">
                    <div class="text">{{ item[0] }}</div>
                    <img src="" alt="Trash Icon" class="trash-icon" onclick="deleteRow(this)">
                </div>
            {% endfor %}
        </div>

    </div>


</body>

</html>
